
<h2>Log in</h2>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
 
    <div id="email">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div id="pass">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <% if devise_mapping.rememberable? %>
    <div id="remember">
      <%= f.check_box :remember_me %>
      <% end %><br/>
      <%= f.label :remember_me %>
    </div>
  

    <div class="actions">
      <%= f.submit "Log in" %>
    </div>
     
  </div>
<% end %>

<%= render "users/shared/links" %>
